body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 45px;
}

button {
  position: absolute;
  bottom: 55px;
  left: 35%;
  background-color: #444444;
  color: white;
  width: 30%;
  height: 155px;
  border-radius: 20px;
}

button:hover {
  background-color: grey;
}

button:active {
  background-color: black;
}

.dadBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: #444444;
  color: white;
  padding-left: 75px;
  height: 125px;
}

.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px auto 0px auto;
  border: 2px solid grey;
  border-radius: 20px;
  width: 50%;
  min-height: 200px;
  box-shadow: 5px;
  color: #444444;
  padding: 45px;
}
